h1 {
	color: #ccc;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	font-size: 36px;
  	font-weight: 500;
  	line-height: 40px;
}

body {
	font-size: 40px;
}

h1 {
	font-size:100%;
}
h2 {
	font-size:80%;
}